<!DOCTYPE html>
<html>
<head>
<title>Resume</title>
</head>
<body>

<div>
    <table>
        <tr>
            <th rowspan="5">
                <div >
                    <img src="aww.png" alt="Reymart" width="150">
            </th>
                        <div>
                            <tr><td><h1>Reymart A. Orjeta</h1></td></tr>
                            <tr><td>Email: <a href="reymart6699@gmail.com">reymart6699@gmail.com</a></td></tr>
                            <tr><td>Phone: 09916929773</td></tr>
                            <tr><td>Address: P-1 Alawihao Daet Camarines Norte</td></tr>
                        </div>
                </div>
        </tr>
        

    </table>
        <hr>
    
    <h2>Objective</h2>
        <table border="1" width="100%" cellspacing="0" >
            <tr>
                <th>
                    <p>Seeking a position where I can fully utilize my knowledge and skills which offers an opportunity for
                    advancement and growth.
                </p>
                </th>
            </tr>
        </table>
    
    <h2>Education</h2>
    
        <table border="1" width="100%" cellspacing="0" >
            <tr>
                <th>Degree</th>
                <th>Institution</th>
                <th>Year</th>
            </tr>
            <tr>
                <td>Information and Communications Technology Technical-Vocational Livelihood</td>
                <td>Hope Scince and Technology College</td>
                <td>2020-2022</td>
            </tr>
            <tr>
                <td>Bachelor of Science in Information Systems</td>
                <td>Camarines Norte State College</td>
                <td>2022-2026</td>
            </tr>
        </table>
    
    <h2>Experience</h2>
        <table border="1" width="100%" cellspacing="0">
            <tr>
                <th>Role</th>
                <th>Company</th>
                <th>Year</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Information Technology</td>
                <td>Villa Corazon Development</td>
                <td>2024</td>
                <td>
                    <ul>
                        <li>Web Development for the company, advertising thier property and further the scope of people</li>
                        <li>Land Monitoring Systems that undentify the pot of lands that are available and easily Monitor</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Freelancer</td>
                <td>-</td>
                <td>-</td>
                <td>
                    <ul>
                        <li>Digital art</li>
                        <li>Traditional art</li>
                        <li>Web Developer</li>
                        <li>Voice Acting</li>
                        <li>Cover artist (Guitarist)</li>
                    </ul>
                </td>
            </tr>
        </table>
    
    <h2>Skills</h2>
        <table border="1" width="100%" cellspacing="0">
            <tr>
                <td>Voice Acting</td>
                <td>Digital Art</td>
                <td>Traditional Art</td>
            </tr>
            <tr>
                <td>Html</td>
                <td>Java</td>
                <td>JavaScript</td>
            </tr>
            <tr>
                <td>Computer Technician</td>
                <td>Video Editing</td>
                <td>Guitarist</td>
            </tr>
        </table>
    
    <h2>Project</h2>
        <table border="1" width="100%" cellspacing="0">
            <tr>
                <td>Villa Corazon Development</td>
                <td>A website made to advertise and sell the pot of land to further enhance their reach, by adding the website it shows and update their progress and keep track of the lands being sell and being process.</td>
            </tr>
            <tr>
                <td >Game development (still in progress)</td>
                <td>A game that provides commitment and understanding for solving puzzles, reflexes and team participation, this game doest have a name yet though my team is working to better the games annual ideas and make the user think for a way to solve and work together as a team.</td>
            </tr>
            <tr>
                <td>Comfy bean</td>
                <td>A music playlist of covers on comfy beats (lily pichu) music creating a cover playlist for people to have fun leasining to guitar covers of her songs and so further the comfortability of the people listening to her music, her fan base have been looking to hear different music covers of her songs knowing it would be wonderful for others that likes her songs.</td>
            </tr>
        </table>
    
    <h2>Achievements</h2>
        <table border="1" width="100%" cellspacing="0">
            <tr>
                <td>Selling Agrecultural Farm Land (2021)</td>
            </tr>
            <tr>
                <td>Live performance at bel-air reception (after marrage 2020) </td>
            </tr>
    
        </table>
    
    <h2>References</h2>
        <table border="1" width="100%" cellspacing="0">
            <tr>
                <td>Available Upon Request.</td>
            </tr>
        </table>
</div>

</body>
</html>